* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "config-mono-vf", sans-serif;
        
    }

    body {
        background: #F7F3E3 ;
        color: #1e1c22 ;
    }

    /* Banner */
    .banner {
        height: 250px;
        background-image: url('images/banner.png');
        background-size: cover;
        background-position: center;
    }

    /* Profile Section */
    .profile {
        text-align: center;
        margin-top: -75px;
        padding-bottom: 20px;
    }

    .profile img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 5px solid #F7F3E3 ;
        object-fit: cover;
        background: #F7F3E3 ;
    }

    .profile h1 {
        margin-top: 15px;
        font-size: 2rem;
        font-family: "config-mono-vf", sans-serif;
        font-variation-settings: "wght" 2000;
    }

    .profile p {
        color: #666;
        margin-top: 5px;
    }

    /* Content Container */
    .container {
        max-width: 900px;
        margin: auto;
        background: #ECF0F1 ;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        margin-bottom: 40px;
    }

    /* Tabs */
    .tabs {
        display: flex;
        flex-wrap: wrap;
        background: #1e1c22 ;
    }

    .tab-button {
        flex: 1;
        padding: 15px;
        border: none;
        background: #2B2118 ;
        color: #c6be9b ;
        cursor: pointer;
        transition: 0.3s;
    }

    .tab-button:hover {
        background: #A8763E ;
    }

    .tab-button.active {
        background: #6F1A07;
    }

    /* Tab Content */
    .tab-content {
        display: none;
        padding: 25px;
    }

    .tab-content.active {
        display: block;
    }

    h2 {
        margin-bottom: 15px;
    }

    ul {
        padding-left: 20px;
    }

    li {
        margin-bottom: 10px;
    }

    @media (max-width: 600px) {
        .tab-button {
            flex: 100%;
        }
    }